@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/* variables */
:root {
  --radius: 13;
  --grey: #3a83a5;
  --white: #fff;
  --primary: #f5913e;
  --secondary: #e0e0e0;
  --border: 2px solid #d1d1d1;
  --trans: all 0.1s ease-in;
  --dark: #091a40;
  --font: arial;
}

/* resets */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* general */
body {
  line-height: 1.5;
  font-size: 17px;
  font-weight: normal;
  font-family: var(--font);
  color: var(--dark);
}

a {
  text-decoration: none;
  color: var(--dark);
  transition: var(--trans);
}

a:hover {
  color: var(--primary);
}

/* header */

.header {
  padding: 0 1.6rem;
  border: var(--border);
  border-radius: var(--radius);
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
}

.header .nav_bar {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header .nav_bar .nav_brand:hover {
  color: var(--dark);
}

.header .nav_bar .nav_items {
  display: flex;
  list-style: none;
  position: relative;
}

.header .nav_bar .nav_items li:not(:first-child)::after {
  content: '';
  width: 2px;
  background: var(--dark);
  height: 50%;
  position: absolute;
  top: 25%;
}

.header .nav_bar .nav_items li a {
  padding: 1rem 1rem;
  display: flex;
  position: relative;
}

/* grid */
.display_sec {
  min-height: calc(85vh - 40px);
  width: 85%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  position: relative;
}

.container {
  max-width: 920px;
  width: 90%;
  margin: 0 5%;
}

.title {
  font-size: 25px;
  text-align: center;
  margin: 50px 0;
  display: flex;
  align-items: flex-start;
}

/* home */
p {
  margin-bottom: 10px;
  font-family: var(--grey);
  font-size: 45px;
}

/* calculator */
.calculator {
  max-width: 60%;
  margin: 0 auto;
  background: antiquewhite;
  border-radius: var(--radius);
}

.calculator-screen {
  width: 100%;
  font-size: 60px;
  background: var(--grey);
  padding: 20px 12px;
  color: var(--white);
  text-align: right;
  border: none;
  font-family: var(--font);
}

.calculator-keys {
  width: 100%;
  background: var(--white);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--border);
  padding: 40px 0;
  cursor: pointer;
  transition: var(--trans);
  font-size: 25px;
  font-family: var(--font);
}

.btn:hover {
  background: #d5d4d4;
}

.btn.primary {
  background: var(--primary);
}

.btn.primary:hover {
  background: #e6873a;
}

.btn.zero {
  grid-area: 5/1/5/3;
}
